@charset 'UTF-8';

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 10px;
    width: 400px;
    height: 400px;
}
div {
    background-color: white;
    height: 20px;
    font-size: 1.5em;
    align-self: center;
    
}
